.layout {
  height: 100vh;
  overflow: hidden;

  &__body {
    display: flex;
    height: 100%;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    padding: 24px 70px;
    background: var(--color-content-bg);
  }
}
